body{
    background-color: #acd6de;
}
.alert-dark{
  display: flex;
  color: #e8e8e8;
  text-shadow: #cc2366;
  padding: 9px 9px;
  width: 13% ;
  border-radius: 20%/50%;
  -webkit-border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  -ms-border-radius: 20%/50%;
  -o-border-radius: 20%/50%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-overflow:ellipsis;
  text-transform: uppercase;
  width: fit-content;
  font-weight: 100;
  position: absolute;
  margin-bottom:100% ;
}
.accordion-body{
  margin-top: 10%;
  position: absolute;
}
div{
  transition-duration: 1s;
}
header {
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition-duration: 5s;
}
 .btn-dark{
      background-color: #ffff;
      width: 13%;
      height: fit-content;
      border-radius: 10%;
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      -o-border-radius: 10%;
      color: #0a66c2;
      text-align: center;
    }
    .btn-dark1{
      width: fit-content;
      height: fit-content;
      color: #bc1888;
    }
    .btn{
      float:left;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 300;
    }
nav {
    column-gap: 20px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    position: sticky;
    border-top-style: hidden;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.buttons{
  width: fit-content;
  height: fit-content;
  text-align: center;
  background-color: #b3ffb3;
  border-radius: 20%/50%;
  -webkit-border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  -ms-border-radius: 20%/50%;
  -o-border-radius: 20%/50%;
}
.buttons:hover{
  border-radius: 30%/40%;
  background-color: yellowgreen;
  -webkit-border-radius: 30%/40%;
  -moz-border-radius: 30%/40%;
  -ms-border-radius: 30%/40%;
  -o-border-radius: 30%/40%;
}
nav ul li{
  border-radius: 10px;
  margin-right: auto;
  text-transform: lowercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-width: 40%;
}
li a{
  padding: 10px 10px;
}

nav ul li a {
text-indent: 10px;
font-family: 'Courier New', Courier, monospace;
}

nav ul li a:hover {
  border: #0a66c2;
  border-radius: 50%;
  background-color: #0a66c2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home-img{
 width: 415px;
 height: 405px;
 border-radius: 50%;
 margin-left: 60%;
 background-color: #cc2366;
 box-shadow:-1px 9px;
 margin-top: 8%;
 position: absolute;
}

.naresh{
  width: 415px;
  height: 415px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
.icons{
  position: relative;
  font-weight: 300;
  color:ffff;
}
.container2{
  position: absolute;
}

.container{
  margin-top: 27%;
  transition-duration: 3s;
}
.social-media{
display: inline-flex;
margin-top: 8%;
color: #070808;
font-size:2em;
column-gap: 2em;
}
.instagram{
  display: flex;
  color: #bc1888;
  width: 20%;
  column-gap: 20%;
}
.instagram:hover{
  background-color: #030102;
}
.github{
  display: flex;
}
.github:hover{
  background-color: #2a8864;
}
.linked{
  display: flex;
  color: #0a66c2;
}
.linked:hover{
  background-color: #b3ffb3;
}
.twitter{
  display: flex;
  color: aqua;
}
.twitter:hover{
  background-color:rgb(6, 184, 243);
}
<!---- about --->
.about{
  display: flex;
  background-color: #070808;
}
.about-text{
  display: flex;
  justify-content:center;
  align-items:center;
}

.about-img{
  display: flex;
  background-color: #bc1888;
  width: 415px;
  height: 415px;
  margin-top: 50%;
  margin-left: 5%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.glowing2-circle{
  height: 415px;
  width: 410px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
pre{
  display: flexbox;
  margin-left: 40%;
  margin-top: -27%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: larger;
}
.candidatos{
  margin-bottom: 10px;
}
.info{

  justify-content: space-between;
  margin-bottom: 5px;
}
.percentage{
  margin-left: 48%;
  color:#4373a4;
  font-weight: bold;
}
.progress-bar{
  background-color: yellowgreen;
  border-radius: 50px;
  height: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 50%;
}
.progress{
  background-color: #4caf50;
  border-radius: 5px;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.projects, .projects1, .projects2{
  display: inline-block;
}
.container6{
  display: flex;
  width: 250px;
  height: 250px;
  margin-top: 25%;
  background-color: #70939e;
  text-align: center;
  font-weight: 200;
  margin-bottom: 100%;
}
.container7{
  display:flex;
  margin-left: 25%;
  margin-top: -200%;
  width: 250px;
  height: 250px;
  background-color: #3d5961;
  text-align: center;
  font-weight: 200;
} 
.container8{
  display:flex;
  margin-left: 50%;
  margin-top: -200%;
  width: 250px;
  height: 250px;
  background-color: #3d5961;
  text-align: center;
  font-weight: 200;
}
.contact{
  display: inline-flex;
}
.address{
  display: flex;
  margin-left: 1%;
  width: 200px;
  height: 200px;
  background-color: #9d2f66;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  .fa{
    color: #0a66c2;
  }
}
.number1{
  display: flex;
  margin-left:25%;
  margin-top: -14%;
  width: 200px;
  height: 200px;
  background-color: #9d2f66; 
  text-align: center ;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.mail{
  display: flex;
  margin-left: 50%;
  margin-top: -14%;
  width: 200px;
  height: 200px;
  background-color: #9d2f66; 
  text-align: center ;
  text-align: center ;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.form1{
  display: inline-block;
  margin-top: 5%;
  color: #011317;
  .name{
    display: flex;
    color: #9d2f66;
    font-size: medium;
    font-style: italic;
  }
  .email{
    display: flex;
    color: #9d2f66;
    font-size: medium;
    font-style: italic;
  }
  .number3{
    display: flex;
    color: #9d2f66;
    font-size: medium;
    font-style: italic;
  }
  button{
    margin-top: 10px;
    color: #4373a4;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  button:hover{
    background-color: #9d2f66;
  }
}
.foot{
  margin-top: 10px;
  display: flex;
  background-color: #011317;
  text-align: center;
  justify-content: center;
  color: #ffff;
}
.foot1{
  display: flex;
  background-color: #011317;
  align-items: center;
  justify-content: center;
}